.new_detail_container {
    font-family: Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    line-height: 30px;
    margin-top: 120px;
}

.new_detail_container p{
    margin-top: 28px;
}

.new_title-container {
    text-align: center;
    margin-bottom: 20px;
}

.new_main-title {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px;
}

.new_title-line {
    width: 35px;
    height: 2px;
    background-color: grey;
    margin: 0 auto 15px;
    /* 居中显示并设置上下间距 */
}

.new_date {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.new_content-img {
    width: 100%;
    margin: 20px auto;
}

.new_section-title {
    font-size: 18px;
    margin: 25px 0 10px;
    color: #333;
}